The purpose of this code is to aggregate all the data from every catchment in the 5x HUC6 units and keep just the first row of data for each catchment. Additional data created in ArcGIS for Land Use,  Runoff, and Centroid Coordinates is added in.

In [1]:
import pandas as pd

In [16]:
comid = '020200'
hydrotable_file = "H:/My Drive/" + comid + "/hydrogeo-fulltable-" + comid + ".csv"
df1 = pd.read_csv(hydrotable_file)
print(f'{comid} has {len(df1.index)} rows')

for comid in ['020301', '020401', '020402', '020403']:
    hydrotable_file = "H:/My Drive/" + comid + "/hydrogeo-fulltable-" + comid + ".csv"
    df2 = pd.read_csv(hydrotable_file)
    df1 = df1.append(df2)
    print(f'{comid} has {len(df2.index)} rows')
df1

020200 has 889511 rows
020301 has 427035 rows
020401 has 609386 rows
020402 has 721104 rows
020403 has 481981 rows

,CatchId,Stage,Number of Cells,SurfaceArea (m2),BedArea (m2),Volume (m3),SLOPE,LENGTHKM,AREASQKM,Roughness,TopWidth (m),WettedPerimeter (m),WetArea (m2),HydraulicRadius (m),Discharge (m3s-1)
0,932020122,0.0000,720,55809.712862,55896.150010,0.000000,0.049157,4.754,6.012,0.05,11.739527,11.757709,0.000000,0.000000,0.000000
1,932020122,0.3048,2234,173181.655476,173273.481735,31666.813642,0.049157,4.754,6.012,0.05,36.428619,36.447935,6.661088,0.182756,9.512262
2,932020122,0.6096,2792,216436.499056,216547.632687,91212.233931,0.049157,4.754,6.012,0.05,45.527240,45.550617,19.186419,0.421211,47.806190
3,932020122,0.9144,3301,255891.976881,256039.205220,163152.349033,0.049157,4.754,6.012,0.05,53.826667,53.857637,34.318963,0.637216,112.689256
4,932020122,1.2192,3727,288913.603319,289109.252850,246082.785396,0.049157,4.754,6.012,0.05,60.772739,60.813894,51.763312,0.851176,206.154113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481976,10466691,23.7744,107,9082.066109,9115.829721,177586.149723,0.000000,0.035,0.009,0.05,259.487603,260.452278,5073.889992,19.481074,0.000000
481977,10466691,24.0792,107,9082.066109,9115.829721,180354.363473,0.000000,0.035,0.009,0.05,259.487603,260.452278,5152.981814,19.784745,0.000000
481978,10466691,24.3840,107,9082.066109,9115.829721,183122.577223,0.000000,0.035,0.009,0.05,259.487603,260.452278,5232.073635,20.088416,0.000000
481979,10466691,24.6888,107,9082.066109,9115.829721,185890.790973,0.000000,0.035,0.009,0.05,259.487603,260.452278,5311.165456,20.392087,0.000000
481980,10466691,24.9936,107,9082.066109,9115.829721,188659.004724,0.000000,0.035,0.009,0.05,259.487603,260.452278,5390.257278,20.695758,0.000000

In [17]:
df1 = df1.drop_duplicates(subset='CatchId')
df1

,CatchId,Stage,Number of Cells,SurfaceArea (m2),BedArea (m2),Volume (m3),SLOPE,LENGTHKM,AREASQKM,Roughness,TopWidth (m),WettedPerimeter (m),WetArea (m2),HydraulicRadius (m),Discharge (m3s-1)
0,932020122,0.0,720,55809.712862,55896.150010,0.0,0.049157,4.754,6.0120,0.05,11.739527,11.757709,0.0,0.0,0.0
83,3246072,0.0,393,30675.945981,30679.229961,0.0,0.004730,2.260,1.6632,0.05,13.573427,13.574881,0.0,0.0,0.0
166,3246388,0.0,47,3672.803393,3673.966547,0.0,0.000010,0.168,0.0378,0.05,21.861925,21.868848,0.0,0.0,0.0
249,3247620,0.0,1334,104863.867890,104863.867890,0.0,0.005577,0.624,1.0278,0.05,168.051070,168.051070,0.0,0.0,0.0
332,3247570,0.0,4314,339061.476404,339144.024859,0.0,0.009604,21.108,80.7237,0.05,16.063174,16.067085,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481566,27081103,0.0,3902,331200.850768,331200.856788,0.0,0.000010,0.511,6.7689,0.05,648.142565,648.142577,0.0,0.0,0.0
481649,9889028,0.0,146,12391.663589,12391.663589,0.0,0.000000,0.051,0.0441,0.05,242.973796,242.973796,0.0,0.0,0.0
481732,10466475,0.0,2316,196605.717306,196605.717306,0.0,0.000010,0.633,2.0592,0.05,310.593550,310.593550,0.0,0.0,0.0
481815,10466473,0.0,996,84541.306437,84541.801241,0.0,0.000137,0.589,0.3654,0.05,143.533627,143.534467,0.0,0.0,0.0
481898,10466691,0.0,10,848.786856,848.786856,0.0,0.000000,0.035,0.0090,0.05,24.251053,24.251053,0.0,0.0,0.0

In [18]:
order = pd.read_csv('H:/My Drive/HAND/NHDPlusAttributes/PlusFlowlineVAA.csv')
df1 = df1.merge(order[['ComID','StreamOrde']], left_on='CatchId', right_on='ComID', how='left')
df1

,CatchId,Stage,Number of Cells,SurfaceArea (m2),BedArea (m2),Volume (m3),SLOPE,LENGTHKM,AREASQKM,Roughness,TopWidth (m),WettedPerimeter (m),WetArea (m2),HydraulicRadius (m),Discharge (m3s-1),ComID,StreamOrde
0,932020122,0.0,720,55809.712862,55896.150010,0.0,0.049157,4.754,6.0120,0.05,11.739527,11.757709,0.0,0.0,0.0,932020122.0,1.0
1,3246072,0.0,393,30675.945981,30679.229961,0.0,0.004730,2.260,1.6632,0.05,13.573427,13.574881,0.0,0.0,0.0,3246072.0,4.0
2,3246388,0.0,47,3672.803393,3673.966547,0.0,0.000010,0.168,0.0378,0.05,21.861925,21.868848,0.0,0.0,0.0,3246388.0,3.0
3,3247620,0.0,1334,104863.867890,104863.867890,0.0,0.005577,0.624,1.0278,0.05,168.051070,168.051070,0.0,0.0,0.0,3247620.0,1.0
4,3247570,0.0,4314,339061.476404,339144.024859,0.0,0.009604,21.108,80.7237,0.05,16.063174,16.067085,0.0,0.0,0.0,3247570.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37694,27081103,0.0,3902,331200.850768,331200.856788,0.0,0.000010,0.511,6.7689,0.05,648.142565,648.142577,0.0,0.0,0.0,27081103.0,1.0
37695,9889028,0.0,146,12391.663589,12391.663589,0.0,0.000000,0.051,0.0441,0.05,242.973796,242.973796,0.0,0.0,0.0,9889028.0,-9.0
37696,10466475,0.0,2316,196605.717306,196605.717306,0.0,0.000010,0.633,2.0592,0.05,310.593550,310.593550,0.0,0.0,0.0,NaN,NaN
37697,10466473,0.0,996,84541.306437,84541.801241,0.0,0.000137,0.589,0.3654,0.05,143.533627,143.534467,0.0,0.0,0.0,NaN,NaN
37698,10466691,0.0,10,848.786856,848.786856,0.0,0.000000,0.035,0.0090,0.05,24.251053,24.251053,0.0,0.0,0.0,NaN,NaN

In [19]:
lc = pd.read_csv('H:/My Drive/CODE/HAND/Catchment Data/LatLon-LC-RC.csv')
lc

,OBJECTID *,Shape *,Id,gridcode,ORIG_FID,POINT_X,POINT_Y,RunoffC,MajLC,AvgElev
0,1,Point,2913,6203020,2913,-74.697107,41.204254,55.15807,81,235.6575
1,2,Point,2922,6203038,2922,-74.714582,41.196260,48.98058,41,245.6667
2,3,Point,2923,6203040,2923,-74.720980,41.198364,47.5243,41,259.6273
3,4,Point,2928,6203050,2928,-74.704612,41.187789,51.27458,81,230.7382
4,5,Point,2941,6203080,2941,-74.696127,41.174637,44.23376,81,205.1902
...,...,...,...,...,...,...,...,...,...,...
37694,5803,Point,49,6263380,49,-74.081726,40.242439,69.62963,90,28.53564
37695,5804,Point,65,6263430,65,-74.077408,40.242173,67.25275,22,35.06139
37696,5805,Point,72,6263538,72,-74.002999,40.257631,65.98064,22,8.803987
37697,5806,Point,4,6261948,4,-73.989455,40.446702,<Null>,<Null>,<Null>
37698,5807,Point,69,6263440,69,-74.007455,40.473370,77.36132,31,2.176339

In [20]:
df1 = df1.merge(lc[['gridcode','POINT_X','POINT_Y','AvgElev','RunoffC','MajLC']], left_on='CatchId', right_on='gridcode', how='left')
df1

,CatchId,Stage,Number of Cells,SurfaceArea (m2),BedArea (m2),Volume (m3),SLOPE,LENGTHKM,AREASQKM,Roughness,...,HydraulicRadius (m),Discharge (m3s-1),ComID,StreamOrde,gridcode,POINT_X,POINT_Y,AvgElev,RunoffC,MajLC
0,932020122,0.0,720,55809.712862,55896.150010,0.0,0.049157,4.754,6.0120,0.05,...,0.0,0.0,932020122.0,1.0,932020122,-75.185438,43.127256,205.3807,<Null>,<Null>
1,3246072,0.0,393,30675.945981,30679.229961,0.0,0.004730,2.260,1.6632,0.05,...,0.0,0.0,3246072.0,4.0,3246072,-74.565526,42.681145,371.1816,45.21915,81
2,3246388,0.0,47,3672.803393,3673.966547,0.0,0.000010,0.168,0.0378,0.05,...,0.0,0.0,3246388.0,3.0,3246388,-74.156619,42.612042,285.9409,43.21429,81
3,3247620,0.0,1334,104863.867890,104863.867890,0.0,0.005577,0.624,1.0278,0.05,...,0.0,0.0,3247620.0,1.0,3247620,-74.116866,42.232266,716.3624,45.54291,43
4,3247570,0.0,4314,339061.476404,339144.024859,0.0,0.009604,21.108,80.7237,0.05,...,0.0,0.0,3247570.0,1.0,3247570,-74.214211,42.256132,650.3924,41.60782,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37694,27081103,0.0,3902,331200.850768,331200.856788,0.0,0.000010,0.511,6.7689,0.05,...,0.0,0.0,27081103.0,1.0,27081103,-75.991480,36.823690,3.528421,69.97673,90
37695,9889028,0.0,146,12391.663589,12391.663589,0.0,0.000000,0.051,0.0441,0.05,...,0.0,0.0,9889028.0,-9.0,9889028,-75.972696,36.832385,1.387905,84.69388,24
37696,10466475,0.0,2316,196605.717306,196605.717306,0.0,0.000010,0.633,2.0592,0.05,...,0.0,0.0,NaN,NaN,10466475,-75.979532,36.812708,3.343184,65.8479,21
37697,10466473,0.0,996,84541.306437,84541.801241,0.0,0.000137,0.589,0.3654,0.05,...,0.0,0.0,NaN,NaN,10466473,-75.973918,36.824744,2.322969,66.19458,22
37698,10466691,0.0,10,848.786856,848.786856,0.0,0.000000,0.035,0.0090,0.05,...,0.0,0.0,NaN,NaN,10466691,-75.970815,36.827488,3.274632,72,22

In [24]:
df3 = df1.drop(labels=['Stage', 'Number of Cells', 'SurfaceArea (m2)', 'BedArea (m2)', 'Volume (m3)', \
                       'Roughness', 'TopWidth (m)', 'WettedPerimeter (m)', 'WetArea (m2)', \
                       'HydraulicRadius (m)', 'Discharge (m3s-1)','ComID','gridcode'], axis='columns')

df3 = df3.replace(to_replace='<Null>',value=float('NaN'))
df3

,CatchId,SLOPE,LENGTHKM,AREASQKM,StreamOrde,POINT_X,POINT_Y,AvgElev,RunoffC,MajLC
0,932020122,0.049157,4.754,6.0120,1.0,-75.185438,43.127256,205.3807,<Null>,<Null>
1,3246072,0.004730,2.260,1.6632,4.0,-74.565526,42.681145,371.1816,45.21915,81
2,3246388,0.000010,0.168,0.0378,3.0,-74.156619,42.612042,285.9409,43.21429,81
3,3247620,0.005577,0.624,1.0278,1.0,-74.116866,42.232266,716.3624,45.54291,43
4,3247570,0.009604,21.108,80.7237,1.0,-74.214211,42.256132,650.3924,41.60782,41
...,...,...,...,...,...,...,...,...,...,...
37694,27081103,0.000010,0.511,6.7689,1.0,-75.991480,36.823690,3.528421,69.97673,90
37695,9889028,0.000000,0.051,0.0441,-9.0,-75.972696,36.832385,1.387905,84.69388,24
37696,10466475,0.000010,0.633,2.0592,NaN,-75.979532,36.812708,3.343184,65.8479,21
37697,10466473,0.000137,0.589,0.3654,NaN,-75.973918,36.824744,2.322969,66.19458,22
37698,10466691,0.000000,0.035,0.0090,NaN,-75.970815,36.827488,3.274632,72,22

In [25]:
df3

,CatchId,SLOPE,LENGTHKM,AREASQKM,StreamOrde,POINT_X,POINT_Y,AvgElev,RunoffC,MajLC
0,932020122,0.049157,4.754,6.0120,1.0,-75.185438,43.127256,205.3807,NaN,NaN
1,3246072,0.004730,2.260,1.6632,4.0,-74.565526,42.681145,371.1816,45.21915,81
2,3246388,0.000010,0.168,0.0378,3.0,-74.156619,42.612042,285.9409,43.21429,81
3,3247620,0.005577,0.624,1.0278,1.0,-74.116866,42.232266,716.3624,45.54291,43
4,3247570,0.009604,21.108,80.7237,1.0,-74.214211,42.256132,650.3924,41.60782,41
...,...,...,...,...,...,...,...,...,...,...
37694,27081103,0.000010,0.511,6.7689,1.0,-75.991480,36.823690,3.528421,69.97673,90
37695,9889028,0.000000,0.051,0.0441,-9.0,-75.972696,36.832385,1.387905,84.69388,24
37696,10466475,0.000010,0.633,2.0592,NaN,-75.979532,36.812708,3.343184,65.8479,21
37697,10466473,0.000137,0.589,0.3654,NaN,-75.973918,36.824744,2.322969,66.19458,22
37698,10466691,0.000000,0.035,0.0090,NaN,-75.970815,36.827488,3.274632,72,22

In [27]:
df3.to_csv('H:/My Drive/CODE/HAND/Catchment Data/Catchment_Regression_Data.csv',index=False)

In [34]:
df3.describe()

,Unnamed: 0,CatchId,Stage,Number of Cells,SurfaceArea (m2),BedArea (m2),Volume (m3),SLOPE,LENGTHKM,AREASQKM,...,WettedPerimeter (m),WetArea (m2),HydraulicRadius (m),Discharge (m3s-1),StreamOrde,COMID_x,Avg_Lon,Avg_Lat,COMID_y,RunoffC
count,3.379600e+04,3.379600e+04,33796.0,33796.000000,3.379600e+04,3.379600e+04,33796.000000,33796.000000,33796.000000,33796.000000,...,33796.000000,3.379600e+04,3.379600e+04,33128.0,32655.000000,3.208000e+04,32080.000000,32080.000000,3.208000e+04,32038.000000
mean,4.599540e+05,1.689702e+07,0.0,518.970647,4.205729e+04,1.341246e+05,-0.000009,-20.994621,1.316384,1.896442,...,109.679070,-1.036830e-08,-1.991147e-10,0.0,1.016751,6.772575e+06,-74.975916,40.281885,6.772575e+06,61.501000
std,2.456160e+05,9.544097e+07,0.0,3684.337411,2.993574e+05,9.791595e+05,0.000312,457.783175,1.544293,3.470078,...,1177.837601,1.937721e-07,4.270196e-09,0.0,3.063105,1.087344e+07,0.658966,1.123010,1.087344e+07,16.975220
min,0.000000e+00,1.748535e+06,0.0,0.000000,0.000000e+00,0.000000e+00,-0.050978,-9998.000000,0.001000,0.000900,...,0.000000,-1.150769e-05,-3.518577e-07,0.0,-9.000000,1.748535e+06,-76.395420,36.802034,1.748535e+06,40.000000
25%,2.548930e+05,4.482996e+06,0.0,35.000000,2.796107e+03,2.799256e+03,0.000000,0.000010,0.260000,0.128700,...,8.242288,0.000000e+00,0.000000e+00,0.0,1.000000,4.481330e+06,-75.485781,39.592214,4.481330e+06,46.532748
50%,4.540100e+05,6.245701e+06,0.0,129.000000,1.044432e+04,1.049396e+04,-0.000000,0.001844,0.766000,0.732600,...,10.171586,-0.000000e+00,-0.000000e+00,0.0,1.000000,6.230185e+06,-75.071044,40.369062,6.230185e+06,57.319200
75%,6.468190e+05,9.448394e+06,0.0,313.000000,2.526623e+04,2.564187e+04,0.000000,0.010826,1.898250,2.329200,...,18.420129,0.000000e+00,0.000000e+00,0.0,2.000000,9.444689e+06,-74.463816,41.167559,9.444689e+06,75.178938
max,1.006541e+06,9.320600e+08,0.0,203957.000000,1.700102e+07,2.511333e+07,0.000000,0.587143,27.038000,110.801700,...,74778.769742,0.000000e+00,0.000000e+00,0.0,7.000000,9.320403e+08,-73.494490,42.462368,9.320403e+08,95.000000

In [36]:
df3.dropna()

,Unnamed: 0,CatchId,Stage,Number of Cells,SurfaceArea (m2),BedArea (m2),Volume (m3),SLOPE,LENGTHKM,AREASQKM,...,HydraulicRadius (m),Discharge (m3s-1),StreamOrde,COMID_x,Majority_Land_Use,Avg_Lon,Avg_Lat,Avg_Elev,COMID_y,RunoffC
956,79348,6203028,0.0,82,6549.837640,6550.498721,0.0,0.000010,0.599,0.1692,...,0.0,0.0,3.0,6203028.0,90,-74.578336,41.191758,122.6298,6203028.0,82.792557
957,79431,6202956,0.0,539,43027.896797,43028.038877,0.0,0.001003,5.157,6.9696,...,0.0,0.0,3.0,6202956.0,41,-74.440310,41.232677,163.7883,6202956.0,45.542999
958,79514,6203176,0.0,211,16893.419562,16895.506185,0.0,0.009653,1.499,1.2681,...,0.0,0.0,1.0,6203176.0,21,-74.636794,41.034326,238.1994,6203176.0,60.393898
959,79597,6203338,0.0,90,7183.196915,7183.196915,0.0,0.012725,2.418,1.8306,...,0.0,0.0,2.0,6203338.0,81,-74.575517,41.237233,145.2839,6203338.0,48.173550
960,79680,6202902,0.0,86,6862.263406,6862.263406,0.0,0.000010,0.907,0.5544,...,0.0,0.0,4.0,6202902.0,95,-74.473609,41.260083,130.465,6202902.0,67.475647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33605,726167,12056652,0.0,132,11079.560092,11079.560092,0.0,0.000091,0.549,0.5103,...,0.0,0.0,3.0,12056652.0,95,-75.612983,37.683430,0.290719,12056652.0,90.000000
33606,726250,12059252,0.0,302,25536.656808,25536.656808,0.0,0.000000,0.538,0.0684,...,0.0,0.0,-9.0,12059252.0,11,-75.949336,37.120208,-0.906086,12059252.0,90.000000
33607,726333,12056392,0.0,271,22783.715942,22783.715942,0.0,0.000010,0.093,0.0261,...,0.0,0.0,2.0,12056392.0,11,-75.750045,37.560694,-1.14811,12056392.0,90.000000
33608,726416,9889030,0.0,4,339.501297,339.501297,0.0,0.000000,0.052,0.0054,...,0.0,0.0,-9.0,9889030.0,23,-75.972702,36.830533,5.042073,9889030.0,85.000000
33610,726582,9889028,0.0,146,12391.663589,12391.663589,0.0,0.000000,0.051,0.0441,...,0.0,0.0,-9.0,9889028.0,24,-75.972695,36.832386,1.387905,9889028.0,84.693878

In [3]:
nj = pd.read_excel('./Catchment Data/NJ_Catchments.xlsx')
nj

       OBJECTID *  Shape *    Id   gridcode  Shape_Length  Shape_Area
0             649  Polygon   649    6228092      0.052121    0.000101
1             650  Polygon   650    6228094      0.200355    0.000621
2             731  Polygon   731    6228390      0.236254    0.001487
3            1138  Polygon  1138    6229280      0.052864    0.000101
4            1312  Polygon  1312    6231300      0.087894    0.000299
...           ...      ...   ...        ...           ...         ...
12402        5802  Polygon  5802  932040172      0.001783    0.000000
12403        5803  Polygon  5803  932040173      0.003780    0.000001
12404        5804  Polygon  5804  932040263      0.014805    0.000003
12405        5805  Polygon  5805  932040265      0.051576    0.000060
12406        5806  Polygon  5806  932040275      0.078612    0.000132

[12407 rows x 6 columns]

In [4]:
all_data = pd.read_csv('./Catchment Data/Catchment_Regression_Data.csv')
all_data

,CatchId,SLOPE,LENGTHKM,AREASQKM,StreamOrde,POINT_X,POINT_Y,AvgElev,RunoffC,MajLC,Roughness
0,932020122,0.049157,4.754,6.0120,1.0,-75.185438,43.127256,205.380700,NaN,NaN,0.050000
1,3246072,0.004730,2.260,1.6632,4.0,-74.565526,42.681145,371.181600,45.21915,81.0,0.005000
2,3246388,0.000030,0.168,0.0378,3.0,-74.156619,42.612042,285.940900,43.21429,81.0,0.005000
3,3247620,0.005577,0.624,1.0278,1.0,-74.116866,42.232266,716.362400,45.54291,43.0,0.127031
4,3247570,0.009604,21.108,80.7237,1.0,-74.214211,42.256132,650.392400,41.60782,41.0,0.200000
...,...,...,...,...,...,...,...,...,...,...,...
37694,27081103,0.000030,0.511,6.7689,1.0,-75.991480,36.823690,3.528421,69.97673,90.0,0.200000
37695,9889028,0.000030,0.051,0.0441,-9.0,-75.972696,36.832385,1.387905,84.69388,24.0,0.050000
37696,10466475,0.000030,0.633,2.0592,NaN,-75.979532,36.812708,3.343184,65.84790,21.0,0.050000
37697,10466473,0.000137,0.589,0.3654,NaN,-75.973918,36.824744,2.322969,66.19458,22.0,0.050000
37698,10466691,0.000030,0.035,0.0090,NaN,-75.970815,36.827488,3.274632,72.00000,22.0,0.050000

In [7]:
combo = nj[['gridcode']].merge(all_data,how='left',left_on='gridcode',right_on='CatchId')
combo

,gridcode,CatchId,SLOPE,LENGTHKM,AREASQKM,StreamOrde,POINT_X,POINT_Y,AvgElev,RunoffC,MajLC,Roughness
0,6228092,6228092,0.161885,0.463,0.9423,1.0,-73.908596,40.996840,122.118300,41.00764,41.0,0.200000
1,6228094,6228094,0.001188,1.717,5.7987,1.0,-73.926956,41.002517,61.761990,53.60236,41.0,0.097248
2,6228390,6228390,0.009792,7.148,13.8807,1.0,-73.944082,41.044254,53.183010,55.32225,21.0,0.144049
3,6229280,6229280,0.030990,0.717,0.9477,1.0,-73.901529,41.003712,18.204190,73.51377,11.0,0.200000
4,6231300,6231300,0.039221,2.794,2.7981,1.0,-73.926797,40.992939,68.631460,45.57414,41.0,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...
12402,932040172,932040172,0.000030,0.027,0.0018,-9.0,-74.170297,39.810827,0.000000,90.00000,11.0,0.050000
12403,932040173,932040173,0.000030,0.020,0.0063,-9.0,-74.170421,39.811639,0.568284,90.00000,11.0,0.050000
12404,932040263,932040263,0.000030,0.078,0.0279,2.0,-74.671197,39.501825,15.894450,77.74194,90.0,0.143979
12405,932040265,932040265,0.002185,0.540,0.5715,2.0,-74.674330,39.499358,16.480660,58.88976,90.0,0.158818
12406,932040275,932040275,0.000030,0.457,1.2609,2.0,-74.670357,39.505890,17.523760,69.58244,90.0,0.146236

In [8]:
combo.to_csv('./Catchment Data/Catchment_Regression_Data_NJ.csv',index=False)