The purpose of this code is to subset USGS and GHCND data by geographic locations. Large tables containing national or global data are opened and bounded by coordinates to create subsets for the NJ region.

In [1]:
import pandas as pd

In [2]:
flow = pd.read_csv('./USGS Flow/Gages.csv',)

In [3]:
flow

,EVENTDATE,REACHCODE,REACHSMDAT,REACHRESOL,FEATURECOM,FEATURECLA,SOURCE_ORI,SOURCE_DAT,SOURCE_FEA,FEATUREDET,Measure,Offset,EventType,FLComID,POINT_X,POINT_Y,POINT_Z,POINT_M
0,2014-12-04 00:00,1.100010e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1.206900e+06,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,45.31563,0,StreamGage,7712706,-73.069576,41.673986,0,45.31563
1,2014-12-04 00:00,1.100010e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1.206000e+06,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,15.86635,0,StreamGage,7713630,-73.063803,41.704479,0,15.86635
2,2014-12-04 00:00,1.090000e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1.105917e+06,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,9.65026,0,StreamGage,5878903,-70.838619,41.662913,0,9.65026
3,2014-12-04 00:00,1.100010e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1.205500e+06,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,45.47307,0,StreamGage,7718288,-73.167566,41.383470,0,45.47307
4,2014-12-04 00:00,1.090000e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1.109200e+06,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,69.19802,0,StreamGage,6129557,-71.254757,41.879573,0,69.19802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28159,2012-12-06 00:00,2.101000e+13,2012-02-27 00:00,High,0,0,United States Geological Survey (USGS),National Water Information System (NWIS),1.802240e+14,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,83.12687,0,StreamGage,800040636,-65.919321,18.038005,0,83.12687
28160,2012-12-06 00:00,2.101000e+13,2012-02-27 00:00,High,0,0,United States Geological Survey (USGS),National Water Information System (NWIS),1.802030e+14,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,96.73209,0,StreamGage,800025568,-65.906174,18.033222,0,96.73209
28161,2012-12-06 00:00,2.101000e+13,2012-02-27 00:00,High,0,0,United States Geological Survey (USGS),National Water Information System (NWIS),5.009121e+07,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,81.30001,0,StreamGage,800036345,-65.905677,17.996457,0,81.30001
28162,2014-12-04 00:00,4.040000e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,4.087047e+06,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,33.61331,0,StreamGage,12163786,-88.027910,43.221473,0,33.61331
28163,2014-12-04 00:00,2.020000e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1.318500e+06,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,57.59153,0,StreamGage,22307227,-73.842525,43.315098,0,57.59153

In [4]:
flow_nj = flow.loc[(flow.POINT_Y < 42.50)  & \
                   (flow.POINT_Y > 38.90)  & \
                   (flow.POINT_X < -73.49) & \
                   (flow.POINT_X > -76.39)]
flow_nj

,EVENTDATE,REACHCODE,REACHSMDAT,REACHRESOL,FEATURECOM,FEATURECLA,SOURCE_ORI,SOURCE_DAT,SOURCE_FEA,FEATUREDET,Measure,Offset,EventType,FLComID,POINT_X,POINT_Y,POINT_Z,POINT_M
9,2014-12-04 00:00,1.100010e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1211699.0,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,25.92582,0,StreamGage,7732843,-73.683299,41.099537,0,25.92582
11,2014-12-04 00:00,1.100010e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1199900.0,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,37.14916,0,StreamGage,7712768,-73.558941,41.665965,0,37.14916
24,2014-12-04 00:00,1.100010e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1212100.0,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,16.98642,0,StreamGage,7733019,-73.674357,41.061164,0,16.98642
29,2014-12-04 00:00,1.100010e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1199420.0,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,87.98777,0,StreamGage,7712426,-73.559510,41.779811,0,87.98777
41,2014-12-04 00:00,1.100010e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1199490.0,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,82.44724,0,StreamGage,7712650,-73.584155,41.699063,0,82.44724
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,2014-12-04 00:00,2.050100e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1507000.0,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,82.19513,0,StreamGage,9424095,-75.771543,42.324725,0,82.19513
3206,2014-12-04 00:00,2.050100e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,1500000.0,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,40.31856,0,StreamGage,8086799,-75.234972,42.333584,0,40.31856
6758,2014-12-04 00:00,4.140200e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,423368620.0,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,87.37801,0,StreamGage,21982855,-76.305918,42.490413,0,87.37801
6800,2014-12-04 00:00,4.140200e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,4233678.0,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,25.39790,0,StreamGage,21984071,-76.245293,42.447339,0,25.39790
6975,2014-12-04 00:00,4.140200e+12,NaN,Medium,0,0,"USGS, Water Resources Division",,4233676.0,http://waterdata.usgs.gov/nwis/nwisman/?site_n...,11.96407,0,StreamGage,21982931,-76.301843,42.488656,0,11.96407

In [5]:
# flow_nj.to_csv('./USGS Flow/GagesNJ.csv')

In [6]:
precip = pd.read_csv('./PrecipData/ghcnd-stations.csv')
precip

,ID,Lat,Lon,???,ST,Name,????,?????
0,ACW00011604,17.1167,-61.7833,10.1,NaN,ST JOHNS COOLIDGE FLD,NaN,NaN
1,ACW00011647,17.1333,-61.7833,19.2,NaN,ST JOHNS,NaN,NaN
2,AE000041196,25.3330,55.5170,34.0,NaN,SHARJAH INTER. AIRP,GSN,41196.0
3,AEM00041194,25.2550,55.3640,10.4,NaN,DUBAI INTL,NaN,41194.0
4,AEM00041217,24.4330,54.6510,26.8,NaN,ABU DHABI INTL,NaN,41217.0
...,...,...,...,...,...,...,...,...
118487,ZI000067969,-21.0500,29.3670,861.0,NaN,WEST NICHOLSON,NaN,67969.0
118488,ZI000067975,-20.0670,30.8670,1095.0,NaN,MASVINGO,NaN,67975.0
118489,ZI000067977,-21.0170,31.5830,430.0,NaN,BUFFALO RANGE,NaN,67977.0
118490,ZI000067983,-20.2000,32.6160,1132.0,NaN,CHIPINGE,GSN,67983.0
118491,ZI000067991,-22.2170,30.0000,457.0,NaN,BEITBRIDGE,NaN,67991.0

In [7]:
precip_NJ = precip.loc[(precip.Lat < 42.50)  & \
                       (precip.Lat > 38.90)  & \
                       (precip.Lon < -73.49) & \
                       (precip.Lon > -76.39)]
precip_NJ

,ID,Lat,Lon,???,ST,Name,????,?????
60762,US1CTFR0002,41.4230,-73.5187,256.0,CT,DANBURY 2.8 WNW,NaN,NaN
60767,US1CTFR0012,41.1306,-73.5961,98.8,CT,STAMFORD 3.3 NW,NaN,NaN
60770,US1CTFR0022,41.0641,-73.5770,36.6,CT,STAMFORD 2.6 SSW,NaN,NaN
60781,US1CTFR0037,41.0980,-73.5600,30.8,CT,STAMFORD 0.4 WNW,NaN,NaN
60782,US1CTFR0039,41.0378,-73.5682,6.4,CT,STAMFORD 4.2 S,NaN,NaN
...,...,...,...,...,...,...,...,...
117625,USW00094728,40.7789,-73.9692,39.6,NY,NEW YORK CNTRL PK TWR,HCN,72506.0
117626,USW00094732,40.0819,-75.0111,30.5,PA,PHILADELPHIA NE AP,NaN,NaN
117629,USW00094741,40.8500,-74.0614,2.7,NJ,TETERBORO AP,NaN,NaN
117630,USW00094745,41.0669,-73.7075,115.5,NY,WESTCHESTER CO AP,NaN,NaN
117633,USW00094789,40.6386,-73.7622,3.4,NY,NEW YORK JFK INTL AP,NaN,74486.0

In [9]:
precip_NJ.to_csv('./PrecipData/ghcnd-stations-NJ.csv')